* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.header {
    background: #333333;
    padding: 18px 24px;
    font-weight: 700;
    color: #ffffff;
    display: flow-root;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.left-container {
    height: 78vh;
    position: relative;
    padding: 0;
}

.right-container {
    height: 78vh;
    width: 100%;
    position: relative;
    padding: 0;
}

.details-container {
    background: #FFE7E7;
    height: 100%;
    margin: 36px 18px 36px 36px;
}

.resources-container {
    background: #DDDDDD;
    height: 100%;
    margin: 36px 36px 36px 18px;
}

.country-div {
    display: inline-flex;
    padding:  4px 12px;
    margin: 8px 18px;
    font-weight: 600;
    font-size: 22px;
    border-bottom: 1px solid #333333;
}
.country-name {
    margin-left: 5px;
    text-transform: capitalize;
}

.case-summary-container {
    padding: 18px;
}

.case-count {
    color: #ffffff;
    font-weight: 600;
}

.card-title {
    text-decoration: none;
    font-weight: 600;
}

.color-white {
    color: #ffffff;
}

.confirmed-view {
    background: #C1385B;
}

.color-confirmed {
    color: #C1385B;
}

.active-view {
    background: #FBC33B;
}

.color-active {
    color: #FBC33B;
}

.recovered-view {
    background: #5BB834;
}

.color-recovered {
    color: #5BB834;
}

.death-view {
    background: #768090;
}

.color-death {
    color: #768090;
}

.card-body {
    max-height: 400px;
}

.line-chart {
    max-height: 180px;
    max-width: 400px;
    margin: auto;
}

.active-cases {
    margin: 0 18px;
    width: 40%;
}

.label-total-cases {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 18px;
    text-align: center;
}

.range-total-cases {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.resources {
    font-weight: 600;
    font-size: 22px;
    padding:  10px 12px;
    margin: 8px 18px;
    border-bottom: 1px solid #333333;
}

.resource-card {
    margin: 20px 18px;
}

ul {
    padding: 18px;
}

.modal-link {
    color: #333333;
}
.modal-link:hover{
    color: #333333;
    text-decoration: underline;
}

.country-select {
    margin-top: 0;
}

.title {
    font-size: 28px;
}

@media screen and (max-width: 600px) {
    .left-container {
        height: auto !important;
    }
    .right-container {
        height: auto !important;
    }

    .details-container {
        margin: 0;
    }

    .resources-container {
        margin: 0;
    }

    .col-lg-5 {
        margin-top: 15px;
    }

    .country-select {
        margin-top: 14px;
    }

    .active-cases {
        width: 60%;
    }
}
